body{
	font-family:arial;
	margin:0px;
	padding:0px;
}

#bouge{
	text-align:left;
	color:white;
	font-family:algerian;
	border:groove;
	margin: 0;padding: 0;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 4px;
}

nav{
	width:100%;
	background:indigo;

}

nav > ul{
	margin:0px;
	padding:0px;
	
}
nav > ul::after{
	content:"";
	display:block;
	clear:both;
}

nav > ul > li{
	float:right;
	position:relative;

}

nav > ul > li > a{
	padding:10px 20px;
	color:white;
}


nav a{
	display:inline-block;
	text-decoration:none;
}

nav li{
	list-style-type:none;
	border: groove;
	border-radius: 10px;
	border-right: none;
	border-left: none;
}

nav li:hover .submenu{
	display: inline-block;
	position:absolute;
	top:100%;
	left:0px;
	padding:0px;
	z-index:1000;

}

.submenu{
	display:none;
}

.submenu li{
	border-top:2px solid gray;
}

.submenu li a{
		padding:8px 18px;
		font-size:18px;
		color:indigo;
		width:200px;
}

.menu{
    height:100%;
    width: 100%;
    height: 80px;
    line-height: 36px;
    list-style-type:square;
	text-align:left;
	font-weight:bold;
	text-decoration: none;
    color:white;
    text-transform:uppercase;
    font-weight: 700;
    padding:0;margin:0;
    transition:  linear 0.05s ease-in-out;
    
}


.m-left{
    float:left;

}
 


.sub-menu{
    border-bottom:hidden;
    font-size: 10px 25px;
    color: purple;
    width: 270px;
    display:inline-block;
    
}
#footer{
    background: indigo;
    color: white;
    padding: 0;
    margin: 0;

}